<body>
  <div class="d-flex">
    <div class="col-8">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
          <div class="card">
            <p-galleria
              [value]="documentImageList"
              [showItemNavigators]="true"
              [thumbnailsPosition]="position"
              [showThumbnails]="false"
              [(activeIndex)]="activeIndex"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '612px' }"
              [numVisible]="5"
              #myGalleria
            >
              <ng-template pTemplate="item" let-item>
                <div class="bg-img" #mybounds>
                  <div>
                    <img
                    class="img-single"
                    [src]="item"
                    alt="รูปภาพ"
                    (click)="showTextFrame($event)"
                    />
                  </div>
                  <ng-container *ngFor="let list of this.textStampList">
                    <p
                      *ngIf="list.isVisible"
                      class="text-stamp"
                      ngDraggable
                      [position]= "{ x: list.x, y: list.y }"
                      [bounds]="mybounds"
                      [inBounds]="true"
                      (endOffset)="onMoveEnd($event, list)"
                      (click)="getInfo(list)"
                    >
                      {{ list.message }}
                    </p>
                  </ng-container>

                  <ng-container *ngFor="let list of this.imageStampList">
                    <div
                      *ngIf="list.isVisible"
                      ngDraggable
                      ngResizable
                      [rzAspectRatio]="true"
                      rzHandles="n,s,e,w,se,sw"
                      class="sign-img"
                      [position]= "{ x: list.x, y: list.y }"
                      [bounds]="mybounds"
                      [inBounds]="true"
                      (endOffset)="onMoveEnd($event, list)"
                      (rzResizing)="onResizing($event, list)"
                      [style.width.px]="list.signWidth"
                      [style.height.px]="list.signHeight"
                      [rzMinWidth]="100"
                      [rzMaxWidth]="612"
                      [rzMinHeight]="100"
                      [rzMaxHeight]="792"
                      (click)="getInfo(list)"
                      
                    >
                      <img
                        [width]="list.signWidth"
                        [height]="list.signHeight"
                        [src]="list.signContent"
                        #targetRef
                        #imgstamp
                      />
                    </div>
                  </ng-container>
                </div>
  
              </ng-template>
            </p-galleria>

            <!-- <cdk-virtual-scroll-viewport
              itemSize="800"
              minBufferPx="200"
              maxBufferPx="400"
              class="example-viewport"
            >
              <span #mybounds>
                <div
                  class="bg-img"
                  *cdkVirtualFor="let item of documentImageList"
                >
                  <img
                  
                    class="img-single"
                    [src]="item"
                    alt="รูปภาพ"
                    (click)="showTextFrame($event)"
                  />
                </div>
                <ng-container *ngIf="showText">
                  <p
                    *ngFor="let list of this.textStampList"
                    class="text-stamp"
                    ngDraggable
                    [bounds]="mybounds"
                    [inBounds]="true"
                    (endOffset)="onMoveEnd($event, list)"
                  >
                    {{ list.message }}
                  </p>
                </ng-container>

                <ng-container *ngIf="this.signVisible">
                  <div
                    *ngFor="let list of this.imageStampList"
                    ngDraggable
                    ngResizable
                    [rzAspectRatio]="true"
                    rzHandles="n,s,e,w,se,sw"
                    class="sign-img"
                    [bounds]="mybounds"
                    [inBounds]="true"
                    (endOffset)="onMoveEnd($event, list)"
                    (rzResizing)="onResizing($event, list)"
                    [rzMinWidth]="100"
                    [rzMaxWidth]="612"
                    [rzMinHeight]="100"
                    [rzMaxHeight]="792"
                  >
                    <img
                      [width]="list.signWidth"
                      [height]="list.signHeight"
                      [src]="list.signContent"
                      (click)="getInfo(list)"
                      #targetRef
                    />
                  </div>
                </ng-container>
              </span>
            </cdk-virtual-scroll-viewport> -->
            <!-- <div  > -->
            <!-- <div #imageListContainer class="bg-img">
                <img *ngFor="let image of this.documentImageList; let i = index"  class="img-single" [src]="image" alt="Image {{i}}" >
                <ng-container *ngIf="this.signVisible">
                  <div
                    *ngFor="let list of this.imageStampList"
                    ngDraggable
                    ngResizable
                    [rzAspectRatio]="true"
                    rzHandles="n,s,e,w,se,sw"
                    class="sign-img"
                    [bounds]="imageListContainer"
                    [inBounds]="true"
                    (endOffset)="onMoveEnd($event, list)"
                    (rzResizing)="onResizing($event, list)"
                    [rzMinWidth]="100"
                    [rzMaxWidth]="612"
                    [rzMinHeight]="100"
                    [rzMaxHeight]="792"
                  >
                    <img
                      [width]="list.signWidth"
                      [height]="list.signHeight"
                      [src]="list.signContent"
                      (click)="getInfo(list)"
                      #targetRef
                    />
                  </div>
                </ng-container>
                <ng-container *ngIf="showText">
                  <p
                    *ngFor="let list of this.textStampList"
                    class="text-stamp"
                    ngDraggable
                    [bounds]="imageListContainer"
                    [inBounds]="true"
                    (endOffset)="onMoveEnd($event, list)"
                  >
                    {{ list.message }}
                  </p>
                </ng-container>
              </div> -->

            <!-- </div> -->
          </div>
          <!-- <div class="bg-img" #mybounds>
              <img class="img-single" *ngIf="showImage" [src]="li_CBScanImage[currentImageIndex].imageBase64"
                alt="รูปภาพ" [style.scale]="zoom" [style.rotate.deg]="degree">
              <ng-container *ngIf="this.signVisible">
                <div *ngFor="let component of this.documentImageList" ngDraggable ngResizable [rzAspectRatio]="true"
                  rzHandles="n,s,e,w,se,sw" class="sign-img" [bounds]="mybounds" [inBounds]="true"
                  (endOffset)="onMoveEnd($event, component)" (rzResizing)="onResizing($event, component)" [rzMinWidth]="100" [rzMaxWidth]="612"
                  [rzMinHeight]="100" [rzMaxHeight]="792" (click)="clickComponent(component)">
                  <img [width]="component.scaleX" [height]="component.scaleY" [src]="component.fileContent" #targetRef>
                </div>
              </ng-container>
            </div> -->

          <div class="d-flex justify-content-between">
            <p-button
              icon="pi pi-chevron-left"
              (click)="showPreviousImage()"
            ></p-button>
            <p> {{activeIndex}}  of {{this.documentImageList.length}}</p>
            <p-button
              icon="pi pi-chevron-right"
              (click)="showNextImage()"
            ></p-button>
          </div>
        </div>
      </div>
      <!-- <div>
          <p-dialog class="pnDialog" header="เพิ่มลายเซ็น" [(visible)]="DisplaySignDialog" [modal]="true"
            [dismissableMask]="true" [draggable]="false" [resizable]="false"
            [breakpoints]="{'1200px': '60vw', '800px': '90vw'}" [style]="{width: '40vw'}">
          </p-dialog>
        </div> -->
    </div>
    <div class="col-3">
      <div class="col mt-5">
        <p-fileUpload
          name="file[]"
          [multiple]="false"
          [showUploadButton]="false"
          [showCancelButton]="false"
          accept=".pdf"
          chooseLabel="เพิ่มเอกสาร"
          [fileLimit]="1"
          (onSelect)="documentUpload($event)"
          (onRemove)="onFileRemove($event)"
        ></p-fileUpload>
      </div>
      <div class="col mt-5">
        <p-fileUpload
          name="file[]"
          [multiple]="true"
          [showUploadButton]="false"
          [showCancelButton]="false"
          accept="image/*"
          chooseLabel="เพิ่มลายเซ็น"
          [fileLimit]="5"
          (onSelect)="onFileSelect($event)"
          (onRemove)="onFileRemove($event)"
        ></p-fileUpload>
      </div>
      <div class="row mt-5">
        <div class="col m-2">
          <p-button label="เพิ่มข้อความ" (click)="openDialog()"></p-button>
          
        </div>
        <div class="col m-2">
          <p-button label="เพิ่ม Stamp" (click)="addStamp()"></p-button>
        </div>
      </div>
      <div class="col mt-5">
        <p-button label="Stamp" (click)="stamp()"></p-button>
      </div>
    </div>
  </div>
</body>

<p-dialog
  class="pnDialog"
  header="เพิ่มข้อความ"
  [(visible)]="DisplayDialogAddTopic"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '1200px': '60vw', '800px': '90vw' }"
  [style]="{ width: '40vw' }"
>
  <input id="stamp" type="text" pInputText [(ngModel)]="this.textStamp" />
  <p-button label="เพิ่มข้อความ" (click)="submitDialog()"></p-button>
</p-dialog>

<!-- <p-dialog
  class="pnDialog"
  header="เพิ่ม Stamp"
  [(visible)]="DisplayDialogAddTopic"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '1200px': '60vw', '800px': '90vw' }"
  [style]="{ width: '40vw' }"
>
  <label for="org">หน่วยงาน</label>
  <input #org id="stamp" type="text" pInputText [(ngModel)]="this.organizationStamp" />
  <label for="rcv">เลขที่รับ</label>
  <input #rcv id="stamp" type="text" pInputText [(ngModel)]="this.receiveNumber" />
  <p-button label="เพิ่มข้อความ" (click)="submitDialog()"></p-button>
</p-dialog> -->

<canvas id="myCanvas" class="whiteboard" hidden></canvas>
