.image-list {
    display: flex; /* ให้รูปภาพแสดงเรียงต่อกันแนวนอน */
    flex-wrap: wrap; /* ให้ขึ้นบรรทัดใหม่เมื่อครบขนาด */
    gap: 16px; /* ระยะห่างระหว่างรูปภาพ */
  }
  
  .image-slider {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 1700px;
    height: 2200px;
    border: 1px solid #000000;
    overflow: hidden;
    // position: absolute;
    cursor: move;
    box-sizing: border-box;
    transform: translate(0%, 0%);
    display: inline-flex;
    z-index: 1;
  }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  .sign-box {
    // cursor: move;
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    // z-index: 1;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
  }
  
  .bg-img {
    width: 595px;
    height: 842px;
    // border: solid 1px #000000;
    top: 0;
    left: 0;
    cursor: move;
    // display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: auto;
    background-color: darkgrey;
    // box-sizing: border-box;
    // transform: translate(0px, 0px);
  }

  .img-single {
    max-width: 100%;
    max-height: 100%;
    // margin-bottom: 15px;
    // transform: scale(0.5);
    // display: block;
    // margin: 0 auto;
  }
  
  .sign-img {
    position: absolute;
    // width: 100px;
    // height: 100px;
    z-index: 100;
    top: 0%;
    left: 0%;
    transform: translate(0px, 0px);
    // border: solid 1px #000000;
  }
  
  .chooseButton {
    display: inline-block;
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  .text-stamp {
    position: absolute;
    // border: 1px solid black;
    background-color: transparent;
    color: black;
    font-size: 25px;
    text-align: center;
    height: auto;
    transform: translate(0px, 0px);
    top: 0;
    left: 0;
    line-height: 1;
    font-family: 'THSarabun', serif;
    padding: 0;
    margin: 0;
  }

  .example-viewport {
    height: 842px;
    width: 595px;
    border: 1px solid black;
    align-items: center;
    background-color:darkgrey
  }

  .cdk-virtual-scroll-content-wrapper::-webkit-scrollbar {
    background-color: transparent; /* กำหนดสีพื้นหลังให้เป็น transparent */
  }

  .overlayStamp {
    z-index: 5;
    position: absolute;
  }


.pn-submit {
  color: #ffffff;
  background: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
  box-shadow 0.2s;
  border-radius: 6px;
  width: 285px;
  height: 6vh;
}
.bgCanvas {
  width: 800px;
  height: 300px;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
.componentCanvas {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translate(0px, 0px);
}

.textStamp {
  // border: 1px solid #000055
  width: 750px;
  text-align: center;
}

.textEditor {
  z-index: 100;
  position: absolute;
  margin-top: 5px;
}

p {
  margin: 0;
}



.border-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #686868;
  border: 1px solid #686868;
  border-radius: 5px;
}

.active {
  background-color: #686868;
  color: #fff;
}

.text-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #008d3b;
  border: 1px solid #008d3b;
  border-radius: 5px;
}

.image-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #00a2ff;
  border: 1px solid #00a2ff;
  border-radius: 5px;
}

.label-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #ff7700;
  border: 1px solid #ff7700;
  border-radius: 5px;
}

.label {
  // border: 1px solid #000055;
  font: 36px Arial;
  width: 250px;
  text-align: left;
}
.content {
  // border: 1px solid #000055;
  font: 36px Arial;
  // width: 500px;
  text-align: left;
}

.editStamp {
  visibility: visible;
}

.thumbnailStamp {
  width: 140px;
  height: 70px;
  margin: 5px;
}

.list-box {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #f0f0f0;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.list-container {
  position: relative;
}

.stamp-list-item {
  //border:solid 1px #cccccc;
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  align-items: center;
  justify-content: space-between;
}

.action-panel {
  display: flex;
  gap: 10px;
}

.stamp-item {
  display: flex;
  align-items: center;
}